<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://thymeleaf.org">
<head>
 	<title>Cruise App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https:fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="css/layout.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
	<h1>Cruise Checklist</h1>
	<h3>Edit Page</h3>

	<header>
		<section>Edit Your Activities</section>
	</header>

<!-- ON-BOAT NEW TASK FORM -->

	<section id="EditTaskForm" class="col-md-6">

		<h2>EDIT ACTIVITY</h2>

		<a th:href="@{/}"><button>Home</button></a>
									                 
		<form th:action="@{'/edit/{id}' (id=${task.id})}"  th:object="${tasks}" th:method="put">
			<input th:value="${tasks.title}"       name="title"       placeholder="new title" />
			<input th:value="${tasks.description}" name="description" placeholder="activity details" />
			<input th:value="${tasks.creator}"     name="creator"     placeholder="activity owner" />
			<input th:value="${tasks.date}"        name="date"        placeholder="activity date" />
			
<!-- <th: loop for enum -->

			<select>
			<option th:each="importance : ${T(com.tts.FinalProjectCruiseApp.Model.Priority).values()}"th:value="${importance}" th:text="${importance}"></option>
		</select>
			
			<button type="submit">Submit</button>
		</form>

	<footer> TTS Final Project | Edit, Johnson, Grady</footer>
</body>

</html>