<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://thymeleaf.org">
<head>
<title>Cruise Checklist</title>
<metacharset="UTF-8">
</head>
<body>
	<h1>Cruise Checklist</h1>
	<h3>CreatePageA</h3>

	<header>
		<section>On-Boat Activities</section>
		<section>Content- On-Board Task explanation</section>
	</header>

<!-- ON-BOAT NEW TASK FORM -->

	<section id="NewTaskForm" class="col-md-6">

		<h2>NEW ON-BOAT ACTIVITY</h2>

		<a th:href="@{/}"><button>Home</button></a>

		<form th:action="@{/onboard}" th:method="post">
			<input th:value="${title}" name="title" placeholder="new title" />
			<input th:value="${description}" name="description" placeholder="activity details" />
			<input th:value="${creator}" name="creator" placeholder="activity owner" />
			<input th:value="${date}" name="date" placeholder="activity date" />
			<input th:value="${time}" name="time" placeholder="activity time" />
			<!-- <th: loop for enum -->
			<button>Submit</button>
		</form>




	<footer> TTS Final Project | Edit, Johnson, Grady</footer>
</body>

</html>