<!DOCTYPE html>
<html lang="en-us" xmlns:th="http://thymeleaf.org">
<head>
<title>Cruise Checklist</title>
<meta charset="UTF-8">
</head>
<body>
	<h1>Cruise Checklist</h1>
	<h3>CreatePageB</h3>

	<header>
		<section>OFF-Boat Activities</section>
		<section>Content- Off Boat Excursion Task explanation</section>
	</header>

<!-- OFF-BOAT NEW TASK FORM -->

	<section id="NewTaskForm" class="col-md-6">

		<h2>NEW OFF-BOAT ACTIVITY</h2>

		<a th:href="@{/}"><button>Home</button></a>

		<form th:action="@{/new}" th:method="post">
			<input th:value="${title}" name="title" placeholder="Excursion" />
			<input th:value="${description}" name="description" placeholder="location details" />
			<input th:value="${creator}" name="creator" placeholder="activity owner" />
			<input th:value="${date}" name="date" placeholder="activity date" />
				
<!-- <th: loop for enum -->

			<select>
				<option th:each="importance : ${T(com.tts.FinalProjectCruiseApp.Model.Priority).values()}"th:value="${importance}" th:text="${importance}"></option>
			</select>
			<button>Submit</button>
		</form>

<!-- DELETE BUTTON -->

		<form th:action="@{'/{id}' (id=${task.id})}" th:method="delete">
			<button>Delete</button>
		</form>

<!-- EDIT BUTTON -->

		<form th:action="@{'/edit/{id}' (id=${task.id})}" th:method="get">
			<button>Edit</button>
		</form>
		</div>
	</section>


	<footer> TTS Final Project | Edit, Johnson, Grady</footer>
</body>

</html>