
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cruise App</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https:fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
     <link rel="stylesheet" href="layout.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><img src="images/jeg_white.png"  height="60px">
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active" role="presentation"><a th:href="@{/}">Home</a></li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Explore <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li th:action="@{/onboard}" th:method="get" type="button" role="presentation"><a href="#">Create a Task</a></li>
                                    <li th:action="@{/showPage}" th:method="get" type="button" role="presentation"><a href="#">List Tasks</a></li>
                                    <li th:action="@{/update}" th:method="get" type="button" role="presentation"><a href="#">Update a Task</a></li>
                                </ul>
                            </li>
                        </ul>
                       </div>
                </div>
                
                 <div class="container hero">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">
                        
                       <!--  <img src="images/jeg_white.png"  height="200px"> -->
                        <h1>Cruise Checklist</h1>
                        <p>NEW ON-BOAT TASK</p>
                        
                        <section>
                        
					<div class="container form-group">
						<a th:href="@{/}"><button>Home</button></a>

		<form th:action="@{/new}" th:method="post">
			<input th:value="${title}" name="title" placeholder="Excursion" />
			<input th:value="${description}" name="description" placeholder="location details" />
			<input th:value="${creator}" name="creator" placeholder="activity owner" />
			<input th:value="${date}" name="date" placeholder="activity date" />
				
<!-- <th: loop for enum -->

			<select>
				<option th:each="importance : ${T(com.tts.FinalProjectCruiseApp.Model.Priority).values()}"th:value="${importance}" th:text="${importance}"></option>
			</select>
			<button>Submit</button>
		</form>

<!-- DELETE BUTTON -->

		<form th:action="@{'/{id}' (id=${task.id})}" th:method="delete">
			<button>Delete</button>
		</form>

<!-- EDIT BUTTON -->

		<form th:action="@{'/edit/{id}' (id=${task.id})}" th:method="get">
			<button>Edit</button>
	
                        </form>
                    </div>
                </div>
            </div>
        </nav>
	<div class="footer_copy">
                <div class="container">
                    <div class="column one">

                        <div class="copyright">
                            &copy;2019 TTS Final Project | Johnson, Edit, Grady<a target="_blank" rel="nofollow" href=""></a>
                        </div>
                        <!--Social info area-->
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


	  <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>